<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j=
              "http://jakarta.apache.org/log4j/"
               debug="false">
 
   <appender name="consoleAppender"
      class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="ERROR" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender>

   <appender name="fileAppenderGA"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="FATAL" />
      <param name="File" value="geneticAlgorithm.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
   <appender name="fileAppenderParents"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="ERROR" />
      <param name="File" value="parents.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender> 
   <appender name="fileAppenderGenerations"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="INFO" />
      <param name="File" value="generations.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
   <appender name="fileAppenderDebug"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="DEBUG" />
      <param name="File" value="debug.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
   <appender name="fileAppenderBestFit"
           class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="FATAL" />
      <param name="File" value="bestfit.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p  [%c{1}] %m %n" />
      </layout>
   </appender>
 
   <logger name="code.GeneticAIAlgorithm" additivity="false" >
      <level value="DEBUG" />
      <appender-ref ref="consoleAppender"/>
      <appender-ref ref="fileAppenderGenerations"/>
      <appender-ref ref="fileAppenderGA"/>
      <appender-ref ref="fileAppenderParents"/>
   </logger>
   <logger name="code.TetrisAI" additivity="false" >
   	  <level value="DEBUG" />
      <appender-ref ref="fileAppenderBestFit"/>
   </logger>
   <logger name="code.loggerTester" additivity="false" >
   	  <level value="DEBUG" />
      <appender-ref ref="fileAppenderDebug"/>
   </logger>
 
</log4j:configuration>
